source https://api.nuget.org/v3/index.json
source https://nuget.org/api/v2

nuget FAKE.Lib >= 4.1.0 framework: >= net451

group Build
  source https://api.nuget.org/v3/index.json

  nuget FAKE
  nuget Nuget.CommandLine
  nuget SourceLink.Fake

  github fsharp/FAKE modules/Octokit/Octokit.fsx
