type project
owners
    bleis-tift, Gab-km, pocketberserker
authors
    bleis-tift, Gab-km, pocketberserker
projectUrl
    https://github.com/persimmon-projects/FAKE.Persimmon
licenseUrl
    https://github.com/persimmon-projects/FAKE.Persimmon/blob/master/LICENSE
requireLicenseAcceptance
    false
tags
    fsharp build fake
description
    FAKE.Persimmon is FAKE extension for Persimmon.
